---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Container from "../components/Container.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
const projects = (await Astro.glob("./projects/*.{md,mdx}")).sort(
  (a, b) => a.frontmatter.order - b.frontmatter.order
);
---

<!DOCTYPE html>
<html lang="en" class="bg-blue-100">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-montserrat text-slate-800 bg-white">
    <Header />
    <Container classes="flex flex-col gap-64">
      <carousel-component>
        <ul
          data-slides-container
          class="max-md:-mx-16 max-md:px-16 max-md:pb-16 max-md:flex max-md:flex-row max-md:overflow-x-auto max-md:flex-no-wrap mt-64 snap-mandatory snap-x md:grid grid-cols-3 grid-rows-3 gap-x-24 gap-y-32"
        >
          {
            projects.map((project, index) => (
              <ProjectCard
                url={project.url}
                project={project.frontmatter}
                {index}
              />
            ))
          }
        </ul>
        <div class="flex items-center justify-center gap-8 mt-16">
          {
            projects.map((_, index) => (
              <div
                data-slide-dot={index}
                class="w-12 h-12 mx-2 bg-slate-200 rounded-full"
              />
            ))
          }
        </div>
      </carousel-component>
      <section class="flex flex-col gap-32">
        <h2 class="font-bold text-32 text-slate-900">Last articles</h2>
        <div class="grid grid-cols-2 grid-rows-2">
          {
            posts.map((post) => (
              <>
                <ArticleCard url={post.url} post={post.frontmatter} />
              </>
            ))
          }
        </div>
      </section>
    </Container>
    <Footer />
    <script>
      import "https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js";

      class CarouselComponent extends HTMLElement {
        keyframes = [
          {
            scale: 1,
            backgroundColor: "#e2e8f0",
          },
          {
            scale: 1.1,
            backgroundColor: "#f472b6",
          },
          {
            scale: 1.3,
            backgroundColor: "#f472b6",
          },
          {
            scale: 1.1,
            backgroundColor: "#f472b6",
          },
          {
            scale: 1,
            backgroundColor: "#e2e8f0",
          },
        ];

        connectedCallback() {
          console.log("test");
          const slidesContainer = this.querySelector("[data-slides-container]");
          const slideDots = this.querySelectorAll(
            "[data-slide-dot]"
          ) as NodeListOf<HTMLDivElement>;
          slideDots.forEach((dot, index) => {
            dot.animate(this.keyframes, {
              fill: "both",
              timeline: new ViewTimeline({
                subject: slidesContainer.children[index],
                axis: "inline",
              }),
              timeRange: "contain",
            });
          });
        }
      }
      customElements.define("carousel-component", CarouselComponent);
    </script>
  </body>
</html>
