---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ArticleCard from '../components/ArticleCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION, Project } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="font-montserrat text-slate-900">
		<Header/>
		<main class="container mx-auto px-[124px] flex flex-col gap-64">
			<section class="mt-64 grid grid-cols-3 grid-rows-3 gap-x-24 gap-y-32">
				<ProjectCard project={Project.Jsimple}/>
				<ProjectCard project={Project.Solidjs}/>
				<ProjectCard project={Project.BagstackCli}/>
				<ProjectCard project={Project.BagstackFigma}/>
				<ProjectCard project={Project.NathalieMura}/>
				<ProjectCard project={Project.Techwatch}/>
				<ProjectCard project={Project.Randomart}/>
			</section>
			<section class="flex flex-col gap-32">
				<h2 class="font-bold text-32 tex-slate-900">Last articles</h2>
				<div class="grid grid-cols-2 grid-rows-2">
					{posts.map((post) => (
						<>
							<ArticleCard post={post.frontmatter}/>
						</>
					))}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
