---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Container from "../components/Container.astro";
import CardGrid from "../components/CardGrid.astro";
import Shell from "../layouts/shell.astro";
import Body from "../layouts/body.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
const projects = (await Astro.glob("./projects/*.{md,mdx}")).sort(
  (a, b) => a.frontmatter.order - b.frontmatter.order
);
---

<Shell>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Container classes="flex flex-col gap-32 pt-64">
      <CardGrid itemNumber={projects.length}>
        {
          projects.map((project) => (
            <ProjectCard url={project.url} project={project.frontmatter} />
          ))
        }
      </CardGrid>
      <section class="flex flex-col gap-24 mb-64">
        <h2 class="font-bold text-32 text-slate-900">Last articles</h2>
        <CardGrid itemNumber={posts.length}>
          {
            posts.map((post) => (
              <ArticleCard url={post.url} post={post.frontmatter} />
            ))
          }
        </CardGrid>
      </section>
    </Container>
    <Footer />
  </Body>
</Shell>
