---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en" class="bg-blue-100">
  <head>
    <BaseHead title={title} description={description} />
    <style is:global>
      h2 {
        margin-top: 64px;
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 24px;
        color: theme(colors.blue.600);
      }
      h3 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 20px;
      }
      p,
      ul {
        margin-bottom: 18px;
        font-size: 18px;
        font-weight: 500;
      }
      a {
        font-weight: 600;
        color: theme(colors.blue.600);
      }
      ul {
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      li {
        list-style-type: disc;
      }
      li::marker {
        color: theme(colors.blue.600);
      }
    </style>
  </head>

  <body class="font-montserrat text-slate-800 bg-white">
    <header class="relative pt-112 md:pt-88 w-full mb-64">
      <Container classes="relative z-10">
        <span class="font-semibold text-48 mb-24 block text-pink-400"
          >Robin Marillia</span
        >
        <div
          class="md:px-112 pt-32 mt-32 md:pt-64 md:mt-64 border-t border-slate-200 flex flex-col gap-32"
        >
          <Link href="../" toLeft>Back to home</Link>
          <h1 class="font-semibold text-48 max-w-[90%] leading-tight">
            {title}
          </h1>
          <div class="text-slate-400 font-semibold">
            {pubDate && <time>{pubDate}</time>}
            {
              updatedDate && (
                <div>
                  Last updated on <time>{updatedDate}</time>
                </div>
              )
            }
          </div>
          {
            heroImage && (
              <img
                class="rounded-xl w-full border border-slate-100"
                width={720}
                height={360}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
      </Container>
    </header>
    <Container>
      <article class="md:px-112 pb-64">
        <slot />
      </article>
    </Container>
    <Footer />
  </body>
</html>
