---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Container from '../components/Container.astro';
import Link from '../components/Link.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style is:global>
			h2 {
				margin-top: 64px;
				margin-bottom: 32px;
				font-weight: 600;
				font-size: 24px;
				color: theme(colors.blue.600)
			}
			p, ul {
				margin-bottom: 18px;
				font-size: 18px;
				font-weight: 500
			}
			
			ul {
				padding-left: 16px;
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
			li {
 				list-style-type: disc;
			}
			li::marker {
				color: theme(colors.blue.600);
			}
		</style>
	</head>

	<body class="font-montserrat text-slate-800">
		<header class="relative pt-88 mb-64">
			<svg width="1920" height="194" class='absolute top-0 inset-x-0 z-0 w-full' viewBox="0 0 1920 194" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g filter="url(#filter0_f_19_817)">
				<path class='animate-pulse' d="M724.8 18.1722C530.547 39.2001 154.835 34.2064 -8.73973 29.081C-17.4764 7.00399 -34.0478 -37.6269 -30.4407 -39.5343C-25.9319 -41.9185 191.407 -45.9167 565.742 -49.2334C936.513 -52.5185 950.433 -49.7577 985.191 -42.8637L986.2 -42.6638C1021.73 -35.6235 967.616 -8.11267 724.8 18.1722Z" fill="#EC4899"/>
				<path class='animate-pulse' style='animation-delay: .7s' d="M1473.47 22.9651C1254.56 38.6995 831.316 36.3923 647.058 33.2719C637.291 17.4732 618.773 -14.4692 622.843 -15.8489C627.931 -17.5736 872.788 -21.1766 1294.51 -24.823C1712.21 -28.4347 1727.89 -26.5025 1767.02 -21.6776L1768.15 -21.5377C1808.16 -16.6105 1747.1 3.29706 1473.47 22.9651Z" fill="#9333EA"/>
				<path class='animate-pulse' style='animation-delay: 1.4s' d="M1348.97 -11.2379C1480.74 -28.4017 1775.48 -19.5257 1906.38 -12.9422C1932.42 7.49783 1984.21 48.807 1983.09 50.5233C1981.69 52.6687 1817.2 53.8795 1530.78 52.676C1247.09 51.4839 1233.92 48.7818 1201.04 42.0346L1200.08 41.8389C1166.47 34.9481 1184.27 10.2168 1348.97 -11.2379Z" fill="#2563EB"/>
				</g>
				<defs>
				<filter id="filter0_f_19_817" x="-170.946" y="-190.613" width="2294.05" height="383.765" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
				<feGaussianBlur stdDeviation="70" result="effect1_foregroundBlur_19_817"/>
				</filter>
				</defs>
			</svg>
			<Container classes="relative z-10">
				<span class="font-semibold text-48 mb-24 block text-pink-400">Robin Marillia</span>
				<div class="px-112 pt-64 mt-64 border-t border-slate-200 flex flex-col gap-32">
					<Link href='../' toLeft>Back to home</Link>
					<h1 class="font-semibold text-48 max-w-[90%] leading-tight">{title}</h1>
					<div class="text-slate-400 font-semibold">
						{pubDate && <time>{pubDate}</time>}
						{
							updatedDate && (
								<div>
									Last updated on <time>{updatedDate}</time>
								</div>
							)
						}
					</div>
					{heroImage && <img class="rounded-xl w-full" width={720} height={360} src={heroImage} alt="" />}
				</div>
			</Container>
		</header>
		<Container>
			<article class="px-112 pb-64">
				<slot />
			</article>
		</Container>
		<Footer />
	</body>
</html>
